# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

### NetBeans ###  
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Makefile-*.bash
build/
dist/
nbdist/
.nb-gradle/
target/


